ON_OTZYV.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:sch="http://purl.oclc.org/dsdl/schematron" xmlns:usch="http://www.unisoftware.ru/schematron-extensions" xmlns:sql="urn:schemas-microsoft-com:mapping-schema" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:element name="Файл">
    <xs:annotation>
      <!---**************************************************************************************************************************************************************************-->
      <xs:appinfo>
        <sch:pattern name="Проверка имени файла на соответствие значению атрибута @ИдФайл">
          <sch:rule context="Файл">
            <!-- 1. Проверка имени файла на соответствие ИдФайл -->
            <sch:assert test="usch:getFileName() = @ИдФайл">
              <usch:error code="0400400007" path="@ИдФайл" value-of-select="@ИдФайл" doc-id-path="usch:getFileName()" doc-id-caption="Файл">
                Имя файла обмена "<usch:value-of select="usch:getFileName()"/>" не совпадает со значением элемента ИдФайл "<usch:value-of select="@ИдФайл"/>"
              </usch:error>
            </sch:assert>
          </sch:rule>
        </sch:pattern>
      </xs:appinfo>
      <!---**************************************************************************************************************************************************************************-->
      <xs:documentation>
        Настоящий формат описывает требования к XML файлам, представляющим отзывы гарантийных писем, для передачи по телекоммуникационным каналам связи (далее - файл обмена).
        Настоящий формат формируется организацией-отправителем и может применяться при отзыве обязательств по отношению к организации-получателю для выполнения согласованного в соответствующем гарантийном письме объема оказанных работ и (или) услуг в отношении юридического или физического лица (группы физических лиц) или других существенных обстоятельств оформляемого события, поставки товаров и (или) имущественных прав.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="СвУчДокОбор">
          <xs:annotation>
            <xs:documentation>Сведения об участниках электронного документооборота</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="СвОЭДОтпр" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Сведения об операторе электронного документооборота отправителя файла обмена</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:attribute name="НаимОрг" use="required">
                    <xs:annotation>
                      <xs:documentation>Наименование</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="1000"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="ИННЮЛ" type="ИННЮЛТип" use="required">
                    <xs:annotation>
                      <xs:documentation>ИНН</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="ИдЭДО" use="required">
                    <xs:annotation>
                      <xs:documentation>Идентификатор оператора электронного документооборота отправителя файла обмена</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:length value="3"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="ИдОтпр" use="required">
              <xs:annotation>
                <xs:documentation>Идентификатор участника документооборота – отправителя файла обмена</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:minLength value="4"/>
                  <xs:maxLength value="46"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="ИдПол" use="required">
              <xs:annotation>
                <xs:documentation>Идентификатор участника документооборота - получателя файла обмена</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:minLength value="4"/>
                  <xs:maxLength value="46"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
          </xs:complexType>
        </xs:element>
        <xs:element name="Документ">
          <xs:annotation>
            <xs:documentation>Отзыв гарантийного письма</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Участники">
                <xs:annotation>
                  <xs:documentation>Сведения об организации-отправителе и организации-получателя, в отношении которой направлен отзыв гарантийного письма. 
                  Письмо может направляться в МО или в иные организации, которые далее занимаются организацией оказания услуг.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="СведОтправОрг" type="УчастникТип" minOccurs="1" maxOccurs="1">
                      <xs:annotation>
                        <xs:documentation>Сведения об организации-отправителе</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="СведПолуч" type="УчастникТип" minOccurs="1" maxOccurs="1">
                      <xs:annotation>
                        <xs:documentation>Сведения о получателе гарантийного письма</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="ФилЮЛПолуч" type="ФилЮЛТип" minOccurs="0" maxOccurs="unbounded">
                      <xs:annotation>
                        <xs:documentation>Сведения о получателе гарантийного письма. Указывается для случаев оказания услуг в конкретном территориальном подразделении организации. Указывается при указании значения «1» в элементе ПрФормДок.</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="СведАдресат">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="ФИО" type="ФИОТип" minOccurs="0" maxOccurs="1">
                            <xs:annotation>
                              <xs:documentation>Фамилия, имя отчество (при наличии)</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="ДолжнАдресат" use="optional">
                          <xs:annotation>
                            <xs:documentation>Должность</xs:documentation>
                          </xs:annotation>
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:minLength value="1"/>
                              <xs:maxLength value="150"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="СведОДог" type="РеквДокТип" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Договор между страховой компанией и организацией – получателем документа</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="ОтзывПисьма" minOccurs="1" maxOccurs="unbounded">
                <xs:annotation>
                  <xs:documentation>Отзываемые гарантийные письма</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:attribute name="НомерДок" use="required">
                    <xs:annotation>
                      <xs:documentation>
                        Номер документа. При отсутствии указывается: «без номера».
                        Регистрационный номер письма в системе делопроизводства составителя файла обмена информации страховой организации
                      </xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="20"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="ДатаДок" type="ДатаТип" use="required">
                    <xs:annotation>
                      <xs:documentation>Дата документа. Дата присвоения регистрационного номера</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="ПризДок" use="required">
                    <xs:annotation>
                      <xs:documentation>Признак документа. 1 - основное, 2 - дополнительное</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:length value="1"/>
                        <xs:enumeration value="1"/>
                        <xs:enumeration value="2"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="ДатаОтзыва" type="ДатаТип" use="required">
                    <xs:annotation>
                      <xs:documentation>Дата, с которой получатель ГП должен его у себя "отозвать"</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
              <xs:element name="ИнфПол" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Информационное поле</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ТекстИнф" type="ТекстИнфТип" minOccurs="0" maxOccurs="unbounded">
                      <xs:annotation>
                        <xs:documentation>Текстовая информация</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="ИдФайлИнфПол" use="optional">
                    <xs:annotation>
                      <xs:documentation>Идентификатор  файла информационного поля</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:length value="36"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
              <xs:element name="Подписант" maxOccurs="unbounded">
                <xs:annotation>
                  <xs:documentation>Сведения о лице, подписывающем файл в электронной форме</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:choice>
                    <xs:element name="ФЛ" type="СвФЛТип">
                      <xs:annotation>
                        <xs:documentation>Физическое лицо</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="ИП" type="СвИПТип">
                      <xs:annotation>
                        <xs:documentation>Индивидуальный предприниматель</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="ЮЛ">
                      <xs:annotation>
                        <xs:documentation>Представитель юридического лица</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="ФИО" type="ФИОТип">
                            <xs:annotation>
                              <xs:documentation>Фамилия, имя, отчество</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="ГосРегИПВыдДов" use="optional">
                          <xs:annotation>
                            <xs:documentation>Реквизиты свидетельства о государственной регистрации индивидуального предпринимателя, выдавшего доверенность организации на подписание</xs:documentation>
                          </xs:annotation>
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:maxLength value="100"/>
                              <xs:minLength value="1"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="ИННЮЛ" type="ИННЮЛТип" use="required">
                          <xs:annotation>
                            <xs:documentation>ИНН юридического лица</xs:documentation>
                          </xs:annotation>
                        </xs:attribute>
                        <xs:attribute name="НаимОрг" use="optional">
                          <xs:annotation>
                            <xs:documentation>Наименование</xs:documentation>
                          </xs:annotation>
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:minLength value="1"/>
                              <xs:maxLength value="1000"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="Должн" use="required">
                          <xs:annotation>
                            <xs:documentation>Должность</xs:documentation>
                          </xs:annotation>
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:maxLength value="128"/>
                              <xs:minLength value="0"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="ИныеСвед" use="optional">
                          <xs:annotation>
                            <xs:documentation>Иные сведения, идентифицирующие физическое лицо</xs:documentation>
                          </xs:annotation>
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:minLength value="1"/>
                              <xs:maxLength value="255"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                      </xs:complexType>
                    </xs:element>
                  </xs:choice>
                  <xs:attribute name="ОблПолн" use="required">
                    <xs:annotation>
                      <xs:documentation>Область полномочий</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="2"/>
                        <xs:enumeration value="0"/>
                        <xs:enumeration value="1"/>
                        <xs:enumeration value="2"/>
                        <xs:enumeration value="3"/>
                        <xs:enumeration value="4"/>
                        <xs:enumeration value="5"/>
                        <xs:enumeration value="6"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="Статус" use="required">
                    <xs:annotation>
                      <xs:documentation>Статус</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="2"/>
                        <xs:enumeration value="1"/>
                        <xs:enumeration value="2"/>
                        <xs:enumeration value="3"/>
                        <xs:enumeration value="4"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="ОснПолн" use="required">
                    <xs:annotation>
                      <xs:documentation>Основание полномочий (доверия)</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="255"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="ОснПолнОрг" use="optional">
                    <xs:annotation>
                      <xs:documentation>Основание полномочий (доверия) организации</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="255"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
              <xs:element name="СведИсполОтправ">
                <xs:annotation>
                  <xs:documentation>Сведения об исполнителе от СК. Ответственный сотрудник  компании-отправителя, сформировавший документ</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ФИО" type="ФИОТип" minOccurs="1" maxOccurs="1">
                      <xs:annotation>
                        <xs:documentation>Фамилия, имя, отчество (при наличии) исполнителя</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="Контакт" type="КонтактТип" minOccurs="0" maxOccurs="1">
                      <xs:annotation>
                        <xs:documentation>Контактные данные исполнителя</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="НаимЭконСубСост" use="required">
                    <xs:annotation>
                      <xs:documentation>Наименование экономического субъекта – составителя файла обмена</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="1000"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="ОснДоверОргСост" use="optional">
                    <xs:annotation>
                      <xs:documentation>Основание, по которому экономический субъект является составителем файла обмена</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="120"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="Должность" use="required">
                    <xs:annotation>
                      <xs:documentation>Должность исполнителя</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="255"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="ДатаИнфОтпр" type="ДатаТип" use="required">
              <xs:annotation>
                <xs:documentation>Дата формирования файла обмена</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="ВремИнфОтпр" type="ВремяТип" use="required">
              <xs:annotation>
                <xs:documentation>Время формирования файла обмена</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="НомерДок" use="required">
              <xs:annotation>
                <xs:documentation>Номер документа</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:minLength value="1"/>
                  <xs:maxLength value="20"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="ДатаДок" type="ДатаТип" use="required">
              <xs:annotation>
                <xs:documentation>Дата документа</xs:documentation>
              </xs:annotation>
            </xs:attribute>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="ИдФайл" use="required">
        <xs:annotation>
          <xs:documentation>Идентификатор файла</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="255"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="ВерсФорм" use="required">
        <xs:annotation>
          <xs:documentation>Версия формата</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="5"/>
            <xs:enumeration value="1.00"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="ВерсПрог" use="required">
        <xs:annotation>
          <xs:documentation>Версия программы, с помощью которой сформирован файл</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="40"/>
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="АдрРФТип">
    <xs:annotation>
      <xs:documentation>Адрес в Российской Федерации</xs:documentation>
    </xs:annotation>
    <xs:attribute name="Индекс" use="optional">
      <xs:annotation>
        <xs:documentation>Индекс</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:length value="6"/>
          <xs:pattern value="[0-9]{6}"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="КодРегион" use="required">
      <xs:annotation>
        <xs:documentation>Код региона</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="CCРФТип"/>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Район" use="optional">
      <xs:annotation>
        <xs:documentation>Район</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1"/>
          <xs:maxLength value="50"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Город" use="optional">
      <xs:annotation>
        <xs:documentation>Город</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:maxLength value="50"/>
          <xs:minLength value="1"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="НаселПункт" use="optional">
      <xs:annotation>
        <xs:documentation>Населенный пункт</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1"/>
          <xs:maxLength value="50"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Улица" use="optional">
      <xs:annotation>
        <xs:documentation>Улица</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1"/>
          <xs:maxLength value="50"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Дом" use="optional">
      <xs:annotation>
        <xs:documentation>Дом</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1"/>
          <xs:maxLength value="20"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Корпус" use="optional">
      <xs:annotation>
        <xs:documentation>Корпус</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1"/>
          <xs:maxLength value="20"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Кварт" use="optional">
      <xs:annotation>
        <xs:documentation>Квартира</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1"/>
          <xs:maxLength value="20"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="АдрИнфТип">
    <xs:annotation>
      <xs:documentation>Информация об адресе, в том числе об адресе за пределами территории Российской Федерации</xs:documentation>
    </xs:annotation>
    <xs:attribute name="КодСтр" type="ОКСМТип" use="required">
      <xs:annotation>
        <xs:documentation>Код страны</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="АдрТекст" use="required">
      <xs:annotation>
        <xs:documentation>Адрес</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1"/>
          <xs:maxLength value="1000"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="АдресТип">
    <xs:annotation>
      <xs:documentation>Сведения об адресе</xs:documentation>
    </xs:annotation>
    <xs:choice>
      <xs:element name="АдрРФ" type="АдрРФТип">
        <xs:annotation>
          <xs:documentation>Адрес, указанный в Едином государственном реестре юридических лиц/почтовый адрес/адрес места жительства индивидуального предпринимателя (реквизиты адреса на территории Российской Федерации)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="АдрИнф" type="АдрИнфТип">
        <xs:annotation>
          <xs:documentation>Адрес, указанный в Едином государственном реестре юридических лиц/почтовый адрес/адрес места жительства индивидуального предпринимателя (информация об адресе, в том числе об адресе за пределами территории Российской Федерации)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="КодГАР">
        <xs:annotation>
          <xs:documentation>Уникальный номер адреса объекта адресации в государственном адресном реестре</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="36"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="КонтактТип">
    <xs:annotation>
      <xs:documentation>Контактные данные</xs:documentation>
    </xs:annotation>
    <xs:attribute name="Тлф" use="optional">
      <xs:annotation>
        <xs:documentation>Номер контактного телефона/факс</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1"/>
          <xs:maxLength value="255"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="ЭлПочта" use="optional">
      <xs:annotation>
        <xs:documentation>Адрес электронной почты</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1"/>
          <xs:maxLength value="255"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="ФИОТип">
    <xs:annotation>
      <xs:documentation>Фамилия, имя, отчество физического лица</xs:documentation>
    </xs:annotation>
    <xs:attribute name="Фамилия" use="required">
      <xs:annotation>
        <xs:documentation>Фамилия</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1"/>
          <xs:maxLength value="60"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Имя" use="required">
      <xs:annotation>
        <xs:documentation>Имя</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1"/>
          <xs:maxLength value="60"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Отчество" use="optional">
      <xs:annotation>
        <xs:documentation>Отчество</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1"/>
          <xs:maxLength value="60"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="СвИПТип">
    <xs:annotation>
      <xs:documentation>Сведения об индивидуальном предпринимателе</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ФИО" type="ФИОТип">
        <xs:annotation>
          <xs:documentation>Фамилия, имя, отчество</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="ИННФЛ" type="ИННФЛТип" use="optional">
      <xs:annotation>
        <xs:documentation>ИНН</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="СвГосРегИП" use="optional">
      <xs:annotation>
        <xs:documentation>Реквизиты свидетельства о государственной регистрации индивидуального предпринимателя</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:maxLength value="100"/>
          <xs:minLength value="1"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="ИныеСвед" use="optional">
      <xs:annotation>
        <xs:documentation>Иные сведения, идентифицирующие физическое лицо</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1"/>
          <xs:maxLength value="255"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="СвФЛТип">
    <xs:annotation>
      <xs:documentation>Сведения о физическом лице</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ФИО" type="ФИОТип">
        <xs:annotation>
          <xs:documentation>Фамилия, имя, отчество</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="ГосРегИПВыдДов" use="optional">
      <xs:annotation>
        <xs:documentation>Реквизиты свидетельства о государственной регистрации индивидуального предпринимателя, выдавшего доверенность физическому лицу на подписание</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:maxLength value="100"/>
          <xs:minLength value="1"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="ИННФЛ" type="ИННФЛТип" use="optional">
      <xs:annotation>
        <xs:documentation>ИНН физического лица</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="ИныеСвед" use="optional">
      <xs:annotation>
        <xs:documentation>Иные сведения, идентифицирующие физическое лицо</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1"/>
          <xs:maxLength value="255"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="УчастникТип">
    <xs:annotation>
      <xs:documentation>Сведения об участнике факта хозяйственной жизни</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ИдСв">
        <xs:annotation>
          <xs:documentation>Идентификационные сведения</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:choice>
            <xs:element name="СвИП" type="СвИПТип">
              <xs:annotation>
                <xs:documentation>Сведения об индивидуальном предпринимателе</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="СвЮЛУч">
              <xs:annotation>
                <xs:documentation>Сведения о юридическом лице, состоящем на учете в налоговых органах</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:attribute name="НаимОрг" use="required">
                  <xs:annotation>
                    <xs:documentation>Наименование полное</xs:documentation>
                  </xs:annotation>
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:minLength value="1"/>
                      <xs:maxLength value="1000"/>
                    </xs:restriction>
                  </xs:simpleType>
                </xs:attribute>
                <xs:attribute name="ИННЮЛ" type="ИННЮЛТип" use="required">
                  <xs:annotation>
                    <xs:documentation>ИНН</xs:documentation>
                  </xs:annotation>
                </xs:attribute>
                <xs:attribute name="КПП" type="КППТип" use="required">
                  <xs:annotation>
                    <xs:documentation>КПП</xs:documentation>
                  </xs:annotation>
                </xs:attribute>
              </xs:complexType>
            </xs:element>
            <xs:element name="СвИнНеУч">
              <xs:annotation>
                <xs:documentation>Сведения об иностранном лице, не состоящем на учете в налоговых органах в качестве налогоплательщика</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:attribute name="НаимОрг" use="required">
                  <xs:annotation>
                    <xs:documentation>Наименование полное</xs:documentation>
                  </xs:annotation>
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:minLength value="1"/>
                      <xs:maxLength value="1000"/>
                    </xs:restriction>
                  </xs:simpleType>
                </xs:attribute>
                <xs:attribute name="Идентиф" use="optional">
                  <xs:annotation>
                    <xs:documentation>Идентификатор юридического лица</xs:documentation>
                  </xs:annotation>
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:minLength value="1"/>
                      <xs:maxLength value="255"/>
                    </xs:restriction>
                  </xs:simpleType>
                </xs:attribute>
                <xs:attribute name="ИныеСвед" use="optional">
                  <xs:annotation>
                    <xs:documentation>Иные сведения, идентифицирующие юридическое лицо</xs:documentation>
                  </xs:annotation>
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:minLength value="1"/>
                      <xs:maxLength value="255"/>
                    </xs:restriction>
                  </xs:simpleType>
                </xs:attribute>
              </xs:complexType>
            </xs:element>
            <xs:element name="СвФЛУчастФХЖ" type="СвФЛТип">
              <xs:annotation>
                <xs:documentation>Сведения о физическом лице</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="Адрес" type="АдресТип" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Адрес</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Контакт" type="КонтактТип" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Контактные данные</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="ОКПО" use="optional">
      <xs:annotation>
        <xs:documentation>Код в общероссийском классификаторе предприятий и организаций</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1"/>
          <xs:maxLength value="10"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="СтруктПодр" use="optional">
      <xs:annotation>
        <xs:documentation>Структурное подразделение</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1"/>
          <xs:maxLength value="1000"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="ИнфДляУчаст" use="optional">
      <xs:annotation>
        <xs:documentation>Информация для участника документооборота</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1"/>
          <xs:maxLength value="255"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="КраткНазв" use="optional">
      <xs:annotation>
        <xs:documentation>Краткое название</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1"/>
          <xs:maxLength value="255"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="ТекстИнфТип">
    <xs:annotation>
      <xs:documentation>Текстовая информация</xs:documentation>
    </xs:annotation>
    <xs:attribute name="Идентиф" use="required">
      <xs:annotation>
        <xs:documentation>Идентификатор</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1"/>
          <xs:maxLength value="50"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Значен" use="required">
      <xs:annotation>
        <xs:documentation>Значение</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1"/>
          <xs:maxLength value="2000"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="ИдРекСостТип">
    <xs:annotation>
      <xs:documentation>Идентифицирующие реквизиты сторон, составивших документ</xs:documentation>
    </xs:annotation>
    <xs:choice>
      <xs:element name="ИННЮЛ" type="ИННЮЛТип">
        <xs:annotation>
          <xs:documentation>ИНН юридического лица</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ИННФЛ" type="ИННФЛТип">
        <xs:annotation>
          <xs:documentation>ИНН физического лица, в том числе индивидуального предпринимателя</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ДаннИно" type="СвИнНеУчТрНТип">
        <xs:annotation>
          <!---************************************************************************************************************************************************************-->
          <xs:appinfo>
            <sch:pattern name="Проверка присутствия элемента Стран, УдЛичнИнФЛ, Идентиф, ИныеСвед ">
              <sch:rule context="ДаннИно">
                <sch:assert test="usch:iif(@ИдСтат='ЮЛ', count(@Стран)!=0, count(@Стран)!=0 or count(@Стран)=0)">
                  <usch:error code="0400300003" path="Стран" value-of-select="@ИдСтат">
                    "Не выполнено условие: Элемент Стран обязателен при ИдСтат, равном "<usch:value-of select="@ИдСтат"/>"
                  </usch:error>
                </sch:assert>
                <sch:assert test="usch:iif(@ИдСтат='ЮЛ' and count(@Наим)=0 and count(@ИныеСвед)=0, count(@Идентиф)!=0, count(@Идентиф)!=0 or count(@Идентиф)=0)">
                  <usch:error code="0400300003" path="Идентиф" value-of-select="@ИдСтат">
                    "Не выполнено условие: Элемент Идентиф обязателен при ИдСтат
                    , равном "<usch:value-of select="@ИдСтат"/>" и при отсутствии Наим и ИныеСвед
                  </usch:error>
                </sch:assert>
                <sch:assert test="usch:iif(@ИдСтат='ЮЛ' and count(@Наим)=0 and count(@Идентиф)=0, count(@ИныеСвед)!=0, count(@ИныеСвед)!=0 or count(@ИныеСвед)=0)">
                  <usch:error code="0400300003" path="ИныеСвед" value-of-select="@ИдСтат">
                    "Не выполнено условие: Элемент ИныеСвед обязателен при ИдСтат
                    , равном "<usch:value-of select="@ИдСтат"/>" и при отсутствии Наим и Идентиф
                  </usch:error>
                </sch:assert>
                <sch:assert test="usch:iif(@ИдСтат='ФЛ', count(УдЛичнИнФЛ)!=0, count(УдЛичнИнФЛ)!=0 or count(УдЛичнИнФЛ)=0)">
                  <usch:error code="0400300003" path="УдЛичнИнФЛ" value-of-select="@ИдСтат">
                    "Не выполнено условие: Элемент УдЛичнИнФЛ обязателен при ИдСтат, равном "<usch:value-of select="@ИдСтат"/>"
                  </usch:error>
                </sch:assert>
              </sch:rule>
            </sch:pattern>
          </xs:appinfo>
          <!---*************************************************************************************************************************************************************-->
          <xs:documentation>Данные иностранного лица, не состоящего на учете в налоговых органах в качестве налогоплательщика</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="НаимОИВ">
        <xs:annotation>
          <xs:documentation>Краткое наименование органа исполнительной власти (специализированной уполномоченной организации), выдавшего документ</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="255"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="СвИнНеУчТрНТип">
    <xs:annotation>
      <xs:documentation>Сведения об иностранном лице, не состоящем на учете в налоговых органах в качестве налогоплательщика</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="УдЛичнИнФЛ" type="УдЛичнИнФЛТип" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Данные документа, удостоверяющего личность иностранного физического лица</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="ИдСтат" use="required">
      <xs:annotation>
        <xs:documentation>Идентификация статуса</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1"/>
          <xs:maxLength value="25"/>
          <xs:enumeration value="ЮЛ"/>
          <xs:enumeration value="ФЛ"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Стран" use="optional">
      <xs:annotation>
        <xs:documentation>Страна</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1"/>
          <xs:maxLength value="255"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Наим" use="optional">
      <xs:annotation>
        <xs:documentation>Наименование юридического лица полное / Фамилия, имя, отчество (при наличии) физического лица</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1"/>
          <xs:maxLength value="1000"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Идентиф" use="optional">
      <xs:annotation>
        <xs:documentation>Идентификатор иностранного лица</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1"/>
          <xs:maxLength value="255"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="ИныеСвед" use="optional">
      <xs:annotation>
        <xs:documentation>Иные сведения, идентифицирующие иностранное лицо</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1"/>
          <xs:maxLength value="255"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="УдЛичнИнФЛТип">
    <xs:annotation>
      <xs:documentation>Данные документа, удостоверяющего личность иностранного физического лица</xs:documentation>
    </xs:annotation>
    <xs:attribute name="ВидДок" use="required">
      <xs:annotation>
        <xs:documentation>Вид документа</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1"/>
          <xs:maxLength value="1000"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="НомДок" use="required">
      <xs:annotation>
        <xs:documentation>Номер документа</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1"/>
          <xs:maxLength value="100"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="ДатаДок" type="ДатаТип" use="required">
      <xs:annotation>
        <xs:documentation>Дата выдачи документа</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="РеквДокТип">
    <xs:annotation>
      <xs:documentation>Реквизиты документа</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ИдРекСост" type="ИдРекСостТип" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Идентифицирующие реквизиты сторон, составивших документ</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="НаимДок" use="required">
      <xs:annotation>
        <xs:documentation>Наименование документа</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1"/>
          <xs:maxLength value="255"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="НомерДок" use="required">
      <xs:annotation>
        <xs:documentation>Номер документа</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1"/>
          <xs:maxLength value="255"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="ДатаДок" type="ДатаТип" use="required">
      <xs:annotation>
        <xs:documentation>Дата документа</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="ИдДок" use="optional">
      <xs:annotation>
        <xs:documentation>Идентификатор файла документа (в том числе регистрационный номер, если документ / сведения о таком документе содержатся в государственных информационных системах)</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1"/>
          <xs:maxLength value="255"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="ДопСведДок" use="optional">
      <xs:annotation>
        <xs:documentation>Дополнительные сведения</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1"/>
          <xs:maxLength value="2000"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="ФилЮЛТип">
    <xs:annotation>
      <xs:documentation>Организация или обособленное подразделение организации</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Адрес" type="АдресТип" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Адрес подразделения юридического лица</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="КПП" type="КППТип" use="optional">
      <xs:annotation>
        <xs:documentation>КПП подразделения юридического лица</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Наименование" use="required">
      <xs:annotation>
        <xs:documentation>Полное наименование подразделения юридического лица</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1"/>
          <xs:maxLength value="1000"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:simpleType name="ДатаТип">
    <xs:annotation>
      <xs:documentation>Дата в формате ДД.ММ.ГГГГ (01.01.1900 - 31.12.2099)</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:length value="10"/>
      <xs:pattern value="((((0[1-9]{1}|1[0-9]{1}|2[0-8]{1})\.(0[1-9]{1}|1[0-2]{1}))|((29|30)\.(01|0[3-9]{1}|1[0-2]{1}))|(31\.(01|03|05|07|08|10|12)))\.((19|20)[0-9]{2}))|(29\.02\.((19|20)(((0|2|4|6|8)(0|4|8))|((1|3|5|7|9)(2|6)))))"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ВремяТип">
    <xs:annotation>
      <xs:documentation>Время в формате ЧЧ.ММ.СС</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:length value="8"/>
      <xs:pattern value="([0-1]{1}[0-9]{1}|2[0-3]{1})\.([0-5]{1}[0-9]{1})\.([0-5]{1}[0-9]{1})"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ИННФЛТип">
    <xs:annotation>
      <xs:documentation>Идентификационный номер налогоплательщика - физического лица</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:length value="12"/>
      <xs:pattern value="([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})[0-9]{10}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ИННЮЛТип">
    <xs:annotation>
      <xs:documentation>Идентификационный номер налогоплательщика - организации</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:length value="10"/>
      <xs:pattern value="([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})[0-9]{8}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="КППТип">
    <xs:annotation>
      <xs:documentation>Код причины постановки на учет (КПП) - 5 и 6 знаки от 0-9 и A-Z</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:length value="9"/>
      <xs:pattern value="([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})([0-9]{2})([0-9A-Z]{2})([0-9]{3})"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="CCРФТип">
    <xs:annotation>
      <xs:documentation>Код из Справочника субъекта Российской Федерации </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:length value="2"/>
      <xs:pattern value="[0-9]{2}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ОКСМТип">
    <xs:annotation>
      <xs:documentation>Код из Общероссийского классификатора стран мира</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:length value="3"/>
      <xs:pattern value="[0-9]{3}"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>