ON_REESTR.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:sch="http://purl.oclc.org/dsdl/schematron" xmlns:usch="http://www.unisoftware.ru/schematron-extensions" xmlns:sql="urn:schemas-microsoft-com:mapping-schema" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:element name="Файл">
    <xs:annotation>
      <!---**************************************************************************************************************************************************************************-->
      <xs:appinfo>
        <sch:pattern name="Проверка имени файла на соответствие значению атрибута @ИдФайл">
          <sch:rule context="Файл">
            <!-- 1. Проверка имени файла на соответствие ИдФайл -->
            <sch:assert test="usch:getFileName() = @ИдФайл">
              <usch:error code="0400400007" path="@ИдФайл" value-of-select="@ИдФайл" doc-id-path="usch:getFileName()" doc-id-caption="Файл">
                Имя файла обмена "<usch:value-of select="usch:getFileName()"/>" не совпадает со значением элемента ИдФайл "<usch:value-of select="@ИдФайл"/>"
              </usch:error>
            </sch:assert>
          </sch:rule>
        </sch:pattern>
      </xs:appinfo>
      <!---**************************************************************************************************************************************************************************-->
      <xs:documentation>
        Реестр оказанных  медицинских услуг – документ, содержащий список  услуг, которые были оказаны медицинской организацией застрахованным лицам в соответствии с договорами (полисами) добровольного медицинского страхования за отчетный период. Документ является приложением к Акту выполненных работ за оказанные услуги в отчетном месяце.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="СвУчДокОбор">
          <xs:annotation>
            <xs:documentation>Сведения об участниках электронного документооборота</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="СвОЭДОтпр" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Сведения об операторе электронного документооборота отправителя файла обмена</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:attribute name="НаимОрг" use="required">
                    <xs:annotation>
                      <xs:documentation>Наименование</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="1000"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="ИННЮЛ" type="ИННЮЛТип" use="required">
                    <xs:annotation>
                      <xs:documentation>ИНН</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="ИдЭДО" use="required">
                    <xs:annotation>
                      <xs:documentation>Идентификатор оператора электронного документооборота отправителя файла обмена</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:length value="3"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="ИдОтпр" use="required">
              <xs:annotation>
                <xs:documentation>Идентификатор участника документооборота – отправителя файла обмена</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:minLength value="4"/>
                  <xs:maxLength value="46"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="ИдПол" use="required">
              <xs:annotation>
                <xs:documentation>Идентификатор участника документооборота - получателя файла обмена</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:minLength value="4"/>
                  <xs:maxLength value="46"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
          </xs:complexType>
        </xs:element>
        <xs:element name="Документ">
          <xs:annotation>
            <xs:documentation>Реестр оказанных  медицинских услуг</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Участники">
                <xs:annotation>
                  <xs:documentation>Сведения о сторонах</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="СведОтправОрг" type="УчастникДМСТип" minOccurs="1" maxOccurs="1">
                      <xs:annotation>
                        <xs:documentation>Сведения о медицинской организации</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="СведПолуч" type="УчастникДМСТип" minOccurs="1" maxOccurs="1">
                      <xs:annotation>
                        <xs:documentation>Сведения о получателе реестра</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="СведАдресат">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="ФИО" type="ФИОТип" minOccurs="0" maxOccurs="1">
                            <xs:annotation>
                              <xs:documentation>Фамилия, имя отчество (при наличии)</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="ДолжнАдресат" use="optional">
                          <xs:annotation>
                            <xs:documentation>Должность</xs:documentation>
                          </xs:annotation>
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:minLength value="1"/>
                              <xs:maxLength value="150"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="ОснДок" type="РеквДокДМСТип" minOccurs="1">
                <xs:annotation>
                  <xs:documentation>Документ к которому приложен реестр (акт или счет)</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="Пациент" minOccurs="1" maxOccurs="unbounded">
                <xs:annotation>
                  <xs:documentation>Сведения о пациенте, получившим медицинскую помощь</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ФИО" type="ФИОТип" minOccurs="1" maxOccurs="1">
                      <xs:annotation>
                        <xs:documentation>Фамилия, имя, отчество</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="СведДУЛ" type="УдЛичнФЛТип" minOccurs="0" maxOccurs="1">
                      <xs:annotation>
                        <xs:documentation>Сведения о документе, удостоверяющего личность</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="ОснДляОпл" minOccurs="1">
                      <xs:annotation>
                        <xs:documentation>Основание для оплаты. 1 - ГП; 2 - программа</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:length value="1"/>
                          <xs:enumeration value="1"/>
                          <xs:enumeration value="2"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="НомГП" minOccurs="0">
                      <xs:annotation>
                        <xs:documentation>Номер гарантийного письма от СК. Заполняется при ОснОпл=1</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1"/>
                          <xs:maxLength value="20"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="ДатаГП" type="ДатаТип" minOccurs="0">
                      <xs:annotation>
                        <xs:documentation>Дата гарантийного письма от СК. Заполняется при ОснОпл=1</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="НаимПрогрДМС" minOccurs="0">
                      <xs:annotation>
                        <xs:documentation>Название программы ДМС. Заполняется при ОснОпл=2</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:maxLength value="255"/>
                          <xs:minLength value="1"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="КодПрогрДМС" minOccurs="0">
                      <xs:annotation>
                        <xs:documentation>Код программы ДМС. Заполняется при ОснОпл=2</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:maxLength value="50"/>
                          <xs:minLength value="1"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="ДатаРожд" type="ДатаТип" minOccurs="1">
                      <xs:annotation>
                        <xs:documentation>Дата формирования файла обмена заказа (заявки)</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="СНИЛС" type="СНИЛСТип" minOccurs="0">
                      <xs:annotation>
                        <xs:documentation>Уникальный номер индивидуального лицевого счета лица (СНИЛС)</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="Пол" minOccurs="0">
                      <xs:annotation>
                        <xs:documentation>Пол физического лица. 1 - мужской, 2 - женский</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:length value="1"/>
                          <xs:enumeration value="1"/>
                          <xs:enumeration value="2"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="СведДУЛСтрокой" minOccurs="0">
                      <xs:annotation>
                        <xs:documentation>Сведения о документе, удостоверяющего личность строкой</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1"/>
                          <xs:maxLength value="255"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="СерНомДМС" minOccurs="1">
                      <xs:annotation>
                        <xs:documentation>Серия, номер полиса ДМС. Обязателен при указании значения «1» в элементе ПрФормДок</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1"/>
                          <xs:maxLength value="255"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="МедУсл" minOccurs="0" maxOccurs="unbounded">
                      <xs:annotation>
                        <xs:documentation>Медицинские услуги количество</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Стоим" type="СведСтоимТип" minOccurs="1" maxOccurs="1">
                            <xs:annotation>
                              <xs:documentation>Данные о стоимости</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="Диагноз" type="ДиагнозТип" minOccurs="1" maxOccurs="unbounded">
                            <xs:annotation>
                              <xs:documentation>Диагноз</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="Исполнитель" type="СНИЛСТип" minOccurs="1" maxOccurs="unbounded">
                            <xs:annotation>
                              <xs:documentation>СНИЛС исполнителей</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="УсловОказМедПом" use="required">
                          <xs:annotation>
                            <xs:documentation>Условия оказания медицинской помощи. Принимает значение в соответствии с НСИ «Условия оказания медицинской помощи» 1.2.643.5.1.13.13.99.2.322</xs:documentation>
                          </xs:annotation>
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:minLength value="1"/>
                              <xs:maxLength value="50"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="Колво" use="required">
                          <xs:annotation>
                            <xs:documentation>Количество услуг</xs:documentation>
                          </xs:annotation>
                          <xs:simpleType>
                            <xs:restriction base="xs:integer">
                              <xs:totalDigits value="3"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="Код" use="required">
                          <xs:annotation>
                            <xs:documentation>
                              Код медицинской услуги/ Справочник: Прейскурант МО или
                              Номенклатура медицинских услуг (1.2.643.5.1.13.13.11.1070) при ТипНом=1
                            </xs:documentation>
                          </xs:annotation>
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:minLength value="1"/>
                              <xs:maxLength value="20"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="Наим" use="required">
                          <xs:annotation>
                            <xs:documentation>
                              Наименование медицинской услуги. Справочник: Прейскурант МО или
                              Номенклатура медицинских услуг (1.2.643.5.1.13.13.11.1070) при ТипНом=1
                            </xs:documentation>
                          </xs:annotation>
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:minLength value="1"/>
                              <xs:maxLength value="150"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="Класс" use="optional">
                          <xs:annotation>
                            <xs:documentation>
                              Класс услуги. Задается если ТипНом=2
                              Класс услуги в соотвествии с приказом Министерства здравоохранения РФ от 13 октября 2017 г. N 804н "Об утверждении номенклатуры медицинских услуг".
                            </xs:documentation>
                          </xs:annotation>
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:minLength value="1"/>
                              <xs:maxLength value="50"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="ДатаНач" type="ДатаТип" use="required">
                          <xs:annotation>
                            <xs:documentation>Дата начала оказания услуги</xs:documentation>
                          </xs:annotation>
                        </xs:attribute>
                        <xs:attribute name="ДатаОконч" type="ДатаТип" use="required">
                          <xs:annotation>
                            <xs:documentation>Дата начала оказания услуги</xs:documentation>
                          </xs:annotation>
                        </xs:attribute>
                        <xs:attribute name="ИдентификаторЭМД" use="optional">
                          <xs:annotation>
                            <xs:documentation>
                              Идентификатор электронного медицинского документа в РЭМД. Используется для получения документа из ЕГИСЗ.
                              Заполняется МО, если услуга вошла в СЭМД и у СЭМД уже есть номер, по которому СК (при получении доступа в ЕГИСЗ, МИС МО) – может посмотреть первичный документ.
                            </xs:documentation>
                          </xs:annotation>
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:minLength value="1"/>
                              <xs:maxLength value="100"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="НомерЗуба" use="optional">
                          <xs:annotation>
                            <xs:documentation>Номер зуба.Важно применять зубную формулу. Важно соблюдать условие: 1 услуга – 1 зуб</xs:documentation>
                          </xs:annotation>
                          <xs:simpleType>
                            <xs:restriction base="xs:integer">
                              <xs:totalDigits value="2"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="ПоверхнЗуба" use="optional">
                          <xs:annotation>
                            <xs:documentation>Поверхность зуба. Указывается если заполнено НомерЗуба</xs:documentation>
                          </xs:annotation>
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:minLength value="1"/>
                              <xs:maxLength value="255"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="ДефРез" use="optional">
                          <xs:annotation>
                            <xs:documentation>При составлении документа с Функция=ЭКСП оказывается ответ страховщика на услугу. 1 - проверка прошла, 2 - проверка не пройдена</xs:documentation>
                          </xs:annotation>
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:length value="1"/>
                              <xs:enumeration value="1"/>
                              <xs:enumeration value="2"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="ДефОпис" use="optional">
                          <xs:annotation>
                            <xs:documentation>При составлении документа с Функция=ЭКСП оказывается ответ страховщика при ДефРез=2</xs:documentation>
                          </xs:annotation>
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:minLength value="1"/>
                              <xs:maxLength value="1000"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="СервУсл" minOccurs="0" maxOccurs="unbounded">
                      <xs:annotation>
                        <xs:documentation>Сервисные услуги</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Диагноз" type="ДиагнозТип" minOccurs="0" maxOccurs="unbounded">
                            <xs:annotation>
                              <xs:documentation>Диагноз</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="Стоим" type="СведСтоимТип" minOccurs="1" maxOccurs="1">
                            <xs:annotation>
                              <xs:documentation>Данные о стоимости</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="Исполнитель" type="СНИЛСТип" minOccurs="1" maxOccurs="unbounded">
                            <xs:annotation>
                              <xs:documentation>СНИЛС исполнителей</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="Код" use="required">
                          <xs:annotation>
                            <xs:documentation>Код сервисной услуги/товара</xs:documentation>
                          </xs:annotation>
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:minLength value="1"/>
                              <xs:maxLength value="20"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="Наим" use="required">
                          <xs:annotation>
                            <xs:documentation>Наименование оказанной услуги</xs:documentation>
                          </xs:annotation>
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:minLength value="1"/>
                              <xs:maxLength value="150"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="Колво" use="required">
                          <xs:annotation>
                            <xs:documentation>Количество оказанных услуг</xs:documentation>
                          </xs:annotation>
                          <xs:simpleType>
                            <xs:restriction base="xs:decimal">
                              <xs:totalDigits value="26"/>
                              <xs:fractionDigits value="11"/>
                              <xs:minInclusive value="0"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="ДатаНач" type="ДатаТип" use="required">
                          <xs:annotation>
                            <xs:documentation>Дата начала оказания услуги</xs:documentation>
                          </xs:annotation>
                        </xs:attribute>
                        <xs:attribute name="ДатаОконч" type="ДатаТип" use="required">
                          <xs:annotation>
                            <xs:documentation>Дата начала оказания услуги</xs:documentation>
                          </xs:annotation>
                        </xs:attribute>
                        <xs:attribute name="УсловОказ" use="required">
                          <xs:annotation>
                            <xs:documentation>Условия оказания медицинской помощи. Принимает значение в соответствии с НСИ «Условия оказания медицинской помощи» 1.2.643.5.1.13.13.99.2.322</xs:documentation>
                          </xs:annotation>
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:minLength value="1"/>
                              <xs:maxLength value="50"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="НомерЗуба" use="optional">
                          <xs:annotation>
                            <xs:documentation>Номер зуба.Важно применять зубную формулу. Важно соблюдать условие: 1 услуга – 1 зуб</xs:documentation>
                          </xs:annotation>
                          <xs:simpleType>
                            <xs:restriction base="xs:integer">
                              <xs:totalDigits value="2"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="Класс" use="optional">
                          <xs:annotation>
                            <xs:documentation>Класс услуги</xs:documentation>
                          </xs:annotation>
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:minLength value="1"/>
                              <xs:maxLength value="50"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="Источник" use="required">
                          <xs:annotation>
                            <xs:documentation>Источник кодов и наименования услуги</xs:documentation>
                          </xs:annotation>
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:minLength value="1"/>
                              <xs:maxLength value="150"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="МестоОказания" use="required">
                          <xs:annotation>
                            <xs:documentation>Тип места оказания медицинской помощи. OID справочника 1.2.643.5.1.13.13.11.1008 ФНСИ «Место оказания медицинской помощи»</xs:documentation>
                          </xs:annotation>
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:minLength value="1"/>
                              <xs:maxLength value="20"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="МестоОказанияМО" use="optional">
                          <xs:annotation>
                            <xs:documentation>Место оказания услуги. OID подраздления по ФРМО</xs:documentation>
                          </xs:annotation>
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:minLength value="1"/>
                              <xs:maxLength value="20"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="ДефРез" use="optional">
                          <xs:annotation>
                            <xs:documentation>При составлении документа с Функция=ЭКСП оказывается ответ страховщика на услугу. 1 - проверка прошла, 2 - проверка не пройдена</xs:documentation>
                          </xs:annotation>
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:length value="1"/>
                              <xs:enumeration value="1"/>
                              <xs:enumeration value="2"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="ДефОпис" use="optional">
                          <xs:annotation>
                            <xs:documentation>При составлении документа с Функция=ЭКСП оказывается ответ страховщикапри ДефРез=2</xs:documentation>
                          </xs:annotation>
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:minLength value="1"/>
                              <xs:maxLength value="1000"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="ДефРез" use="optional">
                    <xs:annotation>
                      <xs:documentation>При составлении документа с Функция=ЭКСП оказывается ответ страховщика на данные пацента (не услуги). 1 - проверка прошла, 2 - проверка не пройдена</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:length value="1"/>
                        <xs:enumeration value="1"/>
                        <xs:enumeration value="2"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="ДефОпис" use="optional">
                    <xs:annotation>
                      <xs:documentation>При составлении документа с Функция=ЭКСП оказывается ответ страховщика при ДефРез=2</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="1000"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
              <xs:element name="ИнфПол" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Информационное поле</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ТекстИнф" type="ТекстИнфТип" minOccurs="0" maxOccurs="unbounded">
                      <xs:annotation>
                        <xs:documentation>Текстовая информация</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="ИдФайлИнфПол" use="optional">
                    <xs:annotation>
                      <xs:documentation>Идентификатор  файла информационного поля</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:length value="36"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
              <xs:element name="Подписант" maxOccurs="unbounded">
                <xs:annotation>
                  <xs:documentation>Сведения о лице, подписывающем файл в электронной форме</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ЮЛ">
                      <xs:annotation>
                        <xs:documentation>Представитель юридического лица</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="ФИО" type="ФИОТип">
                            <xs:annotation>
                              <xs:documentation>Фамилия, имя, отчество</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="ГосРегИПВыдДов" use="optional">
                          <xs:annotation>
                            <xs:documentation>Реквизиты свидетельства о государственной регистрации индивидуального предпринимателя, выдавшего доверенность организации на подписание</xs:documentation>
                          </xs:annotation>
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:maxLength value="100"/>
                              <xs:minLength value="1"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="ИННЮЛ" type="ИННЮЛТип" use="required">
                          <xs:annotation>
                            <xs:documentation>ИНН юридического лица</xs:documentation>
                          </xs:annotation>
                        </xs:attribute>
                        <xs:attribute name="НаимОрг" use="optional">
                          <xs:annotation>
                            <xs:documentation>Наименование</xs:documentation>
                          </xs:annotation>
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:minLength value="1"/>
                              <xs:maxLength value="1000"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="Должн" use="required">
                          <xs:annotation>
                            <xs:documentation>Должность</xs:documentation>
                          </xs:annotation>
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:maxLength value="128"/>
                              <xs:minLength value="0"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="ИныеСвед" use="optional">
                          <xs:annotation>
                            <xs:documentation>Иные сведения, идентифицирующие физическое лицо</xs:documentation>
                          </xs:annotation>
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:minLength value="1"/>
                              <xs:maxLength value="255"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="ОблПолн" use="required">
                    <xs:annotation>
                      <xs:documentation>Область полномочий</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="2"/>
                        <xs:enumeration value="0"/>
                        <xs:enumeration value="1"/>
                        <xs:enumeration value="2"/>
                        <xs:enumeration value="3"/>
                        <xs:enumeration value="4"/>
                        <xs:enumeration value="5"/>
                        <xs:enumeration value="6"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="Статус" use="required">
                    <xs:annotation>
                      <xs:documentation>Статус</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="2"/>
                        <xs:enumeration value="1"/>
                        <xs:enumeration value="2"/>
                        <xs:enumeration value="3"/>
                        <xs:enumeration value="4"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="ОснПолн" use="required">
                    <xs:annotation>
                      <xs:documentation>Основание полномочий (доверия)</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="255"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="ОснПолнОрг" use="optional">
                    <xs:annotation>
                      <xs:documentation>Основание полномочий (доверия) организации</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="255"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
              <xs:element name="СведИсполОтправ">
                <xs:annotation>
                  <xs:documentation>Сведения об исполнителе от отправителя</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ФИО" type="ФИОТип" minOccurs="1" maxOccurs="1">
                      <xs:annotation>
                        <xs:documentation>Фамилия, имя, отчество (при наличии) исполнителя</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="Контакт" type="КонтактТип" minOccurs="0" maxOccurs="1">
                      <xs:annotation>
                        <xs:documentation>Контактные данные исполнителя</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="НаимЭконСубСост" use="required">
                    <xs:annotation>
                      <xs:documentation>Наименование экономического субъекта – составителя файла обмена</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="1000"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="ОснДоверОргСост" use="optional">
                    <xs:annotation>
                      <xs:documentation>Основание, по которому экономический субъект является составителем файла обмена</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="120"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="Должность" use="required">
                    <xs:annotation>
                      <xs:documentation>Должность исполнителя</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="255"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="Функция" use="required">
              <xs:annotation>
                <xs:documentation>Функция</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:minLength value="1"/>
                  <xs:maxLength value="10"/>
                  <xs:enumeration value="РЕЕСТР"/>
                  <xs:enumeration value="ЭКСП"/>
                  <xs:enumeration value="КОРРЕЕСТР"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="ДатаИнфОтпр" type="ДатаТип" use="required">
              <xs:annotation>
                <xs:documentation>Дата формирования файла обмена</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="ВремИнфОтпр" type="ВремяТип" use="required">
              <xs:annotation>
                <xs:documentation>Время формирования файла обмена</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="НомерДок" use="required">
              <xs:annotation>
                <xs:documentation>Номер документа. При отсутствии указывается: «без номера»</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:minLength value="1"/>
                  <xs:maxLength value="20"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="ДатаДок" type="ДатаТип" use="required">
              <xs:annotation>
                <xs:documentation>Дата документа. Должна совпадать с Актом выполненных работ (преимущественно) или Счетом (смотря к какому из документов приложен реестр).</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="ДатаНач" type="ДатаТип" use="required">
              <xs:annotation>
                <xs:documentation>Дата начала периода оказания услуг, указанных в реестре</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="ДатаОконч" type="ДатаТип" use="required">
              <xs:annotation>
                <xs:documentation>Дата окончания периода оказания услуг, указанных в реестре</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="Валюта" type="ОКВТип" use="required">
              <xs:annotation>
                <xs:documentation>Код валюты взаиморасчетов</xs:documentation>
              </xs:annotation>
            </xs:attribute>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="ИдФайл" use="required">
        <xs:annotation>
          <xs:documentation>Идентификатор файла</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="255"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="ВерсФорм" use="required">
        <xs:annotation>
          <xs:documentation>Версия формата</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="5"/>
            <xs:enumeration value="1.00"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="ВерсПрог" use="required">
        <xs:annotation>
          <xs:documentation>Версия программы, с помощью которой сформирован файл</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="40"/>
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="АдрРФТип">
    <xs:annotation>
      <xs:documentation>Адрес в Российской Федерации</xs:documentation>
    </xs:annotation>
    <xs:attribute name="Индекс" use="optional">
      <xs:annotation>
        <xs:documentation>Индекс</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:length value="6"/>
          <xs:pattern value="[0-9]{6}"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="КодРегион" use="required">
      <xs:annotation>
        <xs:documentation>Код региона</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="CCРФТип"/>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Район" use="optional">
      <xs:annotation>
        <xs:documentation>Район</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1"/>
          <xs:maxLength value="50"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Город" use="optional">
      <xs:annotation>
        <xs:documentation>Город</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:maxLength value="50"/>
          <xs:minLength value="1"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="НаселПункт" use="optional">
      <xs:annotation>
        <xs:documentation>Населенный пункт</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1"/>
          <xs:maxLength value="50"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Улица" use="optional">
      <xs:annotation>
        <xs:documentation>Улица</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1"/>
          <xs:maxLength value="50"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Дом" use="optional">
      <xs:annotation>
        <xs:documentation>Дом</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1"/>
          <xs:maxLength value="20"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Корпус" use="optional">
      <xs:annotation>
        <xs:documentation>Корпус</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1"/>
          <xs:maxLength value="20"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Кварт" use="optional">
      <xs:annotation>
        <xs:documentation>Квартира</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1"/>
          <xs:maxLength value="20"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="АдрИнфТип">
    <xs:annotation>
      <xs:documentation>Информация об адресе, в том числе об адресе за пределами территории Российской Федерации</xs:documentation>
    </xs:annotation>
    <xs:attribute name="КодСтр" type="ОКСМТип" use="required">
      <xs:annotation>
        <xs:documentation>Код страны</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="АдрТекст" use="required">
      <xs:annotation>
        <xs:documentation>Адрес</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1"/>
          <xs:maxLength value="1000"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="АдресТип">
    <xs:annotation>
      <xs:documentation>Сведения об адресе</xs:documentation>
    </xs:annotation>
    <xs:choice>
      <xs:element name="АдрРФ" type="АдрРФТип">
        <xs:annotation>
          <xs:documentation>Адрес, указанный в Едином государственном реестре юридических лиц/почтовый адрес/адрес места жительства индивидуального предпринимателя (реквизиты адреса на территории Российской Федерации)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="АдрИнф" type="АдрИнфТип">
        <xs:annotation>
          <xs:documentation>Адрес, указанный в Едином государственном реестре юридических лиц/почтовый адрес/адрес места жительства индивидуального предпринимателя (информация об адресе, в том числе об адресе за пределами территории Российской Федерации)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="КодГАР">
        <xs:annotation>
          <xs:documentation>Уникальный номер адреса объекта адресации в государственном адресном реестре</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="36"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="КонтактТип">
    <xs:annotation>
      <xs:documentation>Контактные данные</xs:documentation>
    </xs:annotation>
    <xs:attribute name="Тлф" use="optional">
      <xs:annotation>
        <xs:documentation>Номер контактного телефона/факс</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1"/>
          <xs:maxLength value="255"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="ЭлПочта" use="optional">
      <xs:annotation>
        <xs:documentation>Адрес электронной почты</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1"/>
          <xs:maxLength value="255"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="ФИОТип">
    <xs:annotation>
      <xs:documentation>Фамилия, имя, отчество физического лица</xs:documentation>
    </xs:annotation>
    <xs:attribute name="Фамилия" use="required">
      <xs:annotation>
        <xs:documentation>Фамилия</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1"/>
          <xs:maxLength value="60"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Имя" use="required">
      <xs:annotation>
        <xs:documentation>Имя</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1"/>
          <xs:maxLength value="60"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Отчество" use="optional">
      <xs:annotation>
        <xs:documentation>Отчество</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1"/>
          <xs:maxLength value="60"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="ДиагнозТип">
    <xs:annotation>
      <xs:documentation>Диагноз</xs:documentation>
    </xs:annotation>
    <xs:attribute name="Код" use="required">
      <xs:annotation>
        <xs:documentation>Код диагноза. «Международная классификация болезней и состояний, связанных со здоровьем 10 пересмотра». ФНСИ 1.2.643.5.1.13.13.11.1005</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1"/>
          <xs:maxLength value="10"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Наим" use="optional">
      <xs:annotation>
        <xs:documentation>Наименование диагноза. «Международная классификация болезней и состояний, связанных со здоровьем 10 пересмотра». ФНСИ 1.2.643.5.1.13.13.11.1005</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1"/>
          <xs:maxLength value="150"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Вид" use="optional">
      <xs:annotation>
        <xs:documentation>Виды нозологических единиц диагноза. ФНСИ 1.2.643.5.1.13.13.11.1077</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1"/>
          <xs:maxLength value="20"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="УчастникДМСТип">
    <xs:annotation>
      <xs:documentation>Сведения об участнике факта хозяйственной жизни</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ИдСв">
        <xs:annotation>
          <xs:documentation>Идентификационные сведения</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="СвЮЛУч">
              <xs:annotation>
                <xs:documentation>Сведения о юридическом лице, состоящем на учете в налоговых органах</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:attribute name="НаимОрг" use="required">
                  <xs:annotation>
                    <xs:documentation>Наименование полное</xs:documentation>
                  </xs:annotation>
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:minLength value="1"/>
                      <xs:maxLength value="1000"/>
                    </xs:restriction>
                  </xs:simpleType>
                </xs:attribute>
                <xs:attribute name="ИННЮЛ" type="ИННЮЛТип" use="required">
                  <xs:annotation>
                    <xs:documentation>ИНН</xs:documentation>
                  </xs:annotation>
                </xs:attribute>
                <xs:attribute name="КПП" type="КППТип" use="required">
                  <xs:annotation>
                    <xs:documentation>КПП</xs:documentation>
                  </xs:annotation>
                </xs:attribute>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Адрес" type="АдресТип" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Адрес</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Контакт" type="КонтактТип" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Контактные данные</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="ОКПО" use="optional">
      <xs:annotation>
        <xs:documentation>Код в общероссийском классификаторе предприятий и организаций</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1"/>
          <xs:maxLength value="10"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="СтруктПодр" use="optional">
      <xs:annotation>
        <xs:documentation>Структурное подразделение</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1"/>
          <xs:maxLength value="1000"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="ИнфДляУчаст" use="optional">
      <xs:annotation>
        <xs:documentation>Информация для участника документооборота</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1"/>
          <xs:maxLength value="255"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="КраткНазв" use="optional">
      <xs:annotation>
        <xs:documentation>Краткое название</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1"/>
          <xs:maxLength value="255"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="ТекстИнфТип">
    <xs:annotation>
      <xs:documentation>Текстовая информация</xs:documentation>
    </xs:annotation>
    <xs:attribute name="Идентиф" use="required">
      <xs:annotation>
        <xs:documentation>Идентификатор</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1"/>
          <xs:maxLength value="50"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Значен" use="required">
      <xs:annotation>
        <xs:documentation>Значение</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1"/>
          <xs:maxLength value="2000"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="РеквДокДМСТип">
    <xs:annotation>
      <xs:documentation>Реквизиты документа</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ИдРекСост" type="ИННЮЛТип" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Идентифицирующие реквизиты сторон, составивших документ</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="НаимДок" use="required">
      <xs:annotation>
        <xs:documentation>Наименование документа</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1"/>
          <xs:maxLength value="255"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="НомерДок" use="required">
      <xs:annotation>
        <xs:documentation>Номер документа</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1"/>
          <xs:maxLength value="20"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="ДатаДок" type="ДатаТип" use="required">
      <xs:annotation>
        <xs:documentation>Дата документа</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="ИдДок" use="optional">
      <xs:annotation>
        <xs:documentation>Идентификатор файла документа (в том числе регистрационный номер, если документ / сведения о таком документе содержатся в государственных информационных системах)</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1"/>
          <xs:maxLength value="255"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="ДопСведДок" use="optional">
      <xs:annotation>
        <xs:documentation>Дополнительные сведения</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1"/>
          <xs:maxLength value="2000"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="СумНДСТип">
    <xs:annotation>
      <xs:documentation>Сумма НДС</xs:documentation>
    </xs:annotation>
    <xs:choice>
      <xs:element name="СумНал">
        <xs:annotation>
          <xs:documentation>Значение</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:decimal">
            <xs:totalDigits value="19"/>
            <xs:fractionDigits value="2"/>
            <xs:minInclusive value="0"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="БезНДС">
        <xs:annotation>
          <xs:documentation>Без НДС</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="18"/>
            <xs:minLength value="1"/>
            <xs:enumeration value="без НДС"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="ДефНДС">
        <xs:annotation>
          <xs:documentation>Знак прочерка</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:length value="1"/>
            <xs:enumeration value="-"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="УдЛичнФЛТип">
    <xs:annotation>
      <xs:documentation>Сведения о документе, удостоверяющем личность физического лица</xs:documentation>
    </xs:annotation>
    <xs:attribute name="КодВидДок" use="required">
      <xs:annotation>
        <xs:documentation>Код вида документа</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="СПДУЛТип">
          <xs:enumeration value="07"/>
          <xs:enumeration value="10"/>
          <xs:enumeration value="11"/>
          <xs:enumeration value="12"/>
          <xs:enumeration value="13"/>
          <xs:enumeration value="15"/>
          <xs:enumeration value="19"/>
          <xs:enumeration value="21"/>
          <xs:enumeration value="24"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="СерНомДок" type="СПДУЛШТип" use="required">
      <xs:annotation>
        <xs:documentation>Серия и номер документа</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="ДатаДок" type="ДатаТип" use="required">
      <xs:annotation>
        <xs:documentation>Дата выдачи документа</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="ВыдДок" use="optional">
      <xs:annotation>
        <xs:documentation>Наименование органа, выдавшего документ</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1"/>
          <xs:maxLength value="255"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="КодВыдДок" use="optional">
      <xs:annotation>
        <xs:documentation>Код подразделения органа, выдавшего  документ</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:length value="7"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="СведСтоимТип">
    <xs:sequence>
      <xs:element name="СумНал" type="СумНДСТип" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Сумма налога</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Цена" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Цена из прейскуранта за единицу услуги</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:decimal">
            <xs:totalDigits value="26"/>
            <xs:fractionDigits value="11"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="СтТовБезНДС" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Стоимость без налога - всего</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:decimal">
            <xs:totalDigits value="19"/>
            <xs:fractionDigits value="2"/>
            <xs:minInclusive value="0"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="НалСт" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Налоговая ставка</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="35"/>
            <xs:minLength value="1"/>
            <xs:enumeration value="0%"/>
            <xs:enumeration value="10%"/>
            <xs:enumeration value="18%"/>
            <xs:enumeration value="20%"/>
            <xs:enumeration value="10/110"/>
            <xs:enumeration value="18/118"/>
            <xs:enumeration value="20/120"/>
            <xs:enumeration value="без НДС"/>
            <xs:enumeration value="НДС исчисляется налоговым агентом"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="СтТовУчНал" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Стоимость товаров (работ, услуг), имущественных прав с налогом - всего</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:decimal">
            <xs:totalDigits value="19"/>
            <xs:fractionDigits value="2"/>
            <xs:minInclusive value="0"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="ПроцСкидка" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Процент скидки</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:decimal">
            <xs:totalDigits value="5"/>
            <xs:fractionDigits value="2"/>
            <xs:minInclusive value="0"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="СумСкидка" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Сумма скидки</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:decimal">
            <xs:totalDigits value="5"/>
            <xs:fractionDigits value="2"/>
            <xs:minInclusive value="0"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Франшиза" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Размер уплаченной Пациентом франшизы в МО (%)</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:integer">
            <xs:totalDigits value="3"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="СуммаФраншизы" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Сумма франшизы, уплаченной клиентом в МО</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:decimal">
            <xs:totalDigits value="19"/>
            <xs:fractionDigits value="2"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="ФинСтоим" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Итоговая стоимость услуги, подлежащая уплате</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:decimal">
            <xs:totalDigits value="5"/>
            <xs:fractionDigits value="2"/>
            <xs:minInclusive value="0"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>



    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="ДатаТип">
    <xs:annotation>
      <xs:documentation>Дата в формате ДД.ММ.ГГГГ (01.01.1900 - 31.12.2099)</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:length value="10"/>
      <xs:pattern value="((((0[1-9]{1}|1[0-9]{1}|2[0-8]{1})\.(0[1-9]{1}|1[0-2]{1}))|((29|30)\.(01|0[3-9]{1}|1[0-2]{1}))|(31\.(01|03|05|07|08|10|12)))\.((19|20)[0-9]{2}))|(29\.02\.((19|20)(((0|2|4|6|8)(0|4|8))|((1|3|5|7|9)(2|6)))))"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ВремяТип">
    <xs:annotation>
      <xs:documentation>Время в формате ЧЧ.ММ.СС</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:length value="8"/>
      <xs:pattern value="([0-1]{1}[0-9]{1}|2[0-3]{1})\.([0-5]{1}[0-9]{1})\.([0-5]{1}[0-9]{1})"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ИННФЛТип">
    <xs:annotation>
      <xs:documentation>Идентификационный номер налогоплательщика - физического лица</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:length value="12"/>
      <xs:pattern value="([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})[0-9]{10}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ИННЮЛТип">
    <xs:annotation>
      <xs:documentation>Идентификационный номер налогоплательщика - организации</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:length value="10"/>
      <xs:pattern value="([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})[0-9]{8}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="КППТип">
    <xs:annotation>
      <xs:documentation>Код причины постановки на учет (КПП) - 5 и 6 знаки от 0-9 и A-Z</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:length value="9"/>
      <xs:pattern value="([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})([0-9]{2})([0-9A-Z]{2})([0-9]{3})"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="СНИЛСТип">
    <xs:annotation>
      <xs:documentation>СНИЛС гражданина. Ограничивается длиной в 11 символов.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:length value="11"/>
      <xs:pattern value="(0|[1-9][0-9]*)"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="CCРФТип">
    <xs:annotation>
      <xs:documentation>Код из Справочника субъекта Российской Федерации </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:length value="2"/>
      <xs:pattern value="[0-9]{2}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ОКСМТип">
    <xs:annotation>
      <xs:documentation>Код из Общероссийского классификатора стран мира</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:length value="3"/>
      <xs:pattern value="[0-9]{3}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ОКВТип">
    <xs:annotation>
      <xs:documentation>Код из Общероссийского классификатора валют</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:length value="3"/>
      <xs:pattern value="[0-9]{3}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="СПДУЛТип">
    <xs:annotation>
      <xs:documentation>Коды Справочника видов документов, удостоверяющих личность</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:length value="2"/>
      <xs:pattern value="[0-9]{2}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="СПДУЛШТип">
    <xs:annotation>
      <xs:documentation>Шаблон серии, номера из Справочника видов документов, удостоверяющих личность</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="25"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ОКЕИТип">
    <xs:annotation>
      <xs:documentation>Код из Общероссийского классификатора единиц измерения</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="3"/>
      <xs:maxLength value="4"/>
      <xs:pattern value="[0-9]{3}"/>
      <xs:pattern value="[0-9]{4}"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>