ON_SPISOK.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:sch="http://purl.oclc.org/dsdl/schematron" xmlns:usch="http://www.unisoftware.ru/schematron-extensions" xmlns:sql="urn:schemas-microsoft-com:mapping-schema" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:element name="Файл">
    <xs:annotation>
      <!---**************************************************************************************************************************************************************************-->
      <xs:appinfo>
        <sch:pattern name="Проверка имени файла на соответствие значению атрибута @ИдФайл">
          <sch:rule context="Файл">
            <!-- 1. Проверка имени файла на соответствие ИдФайл -->
            <sch:assert test="usch:getFileName() = @ИдФайл">
              <usch:error code="0400400007" path="@ИдФайл" value-of-select="@ИдФайл" doc-id-path="usch:getFileName()" doc-id-caption="Файл">
                Имя файла обмена "<usch:value-of select="usch:getFileName()"/>" не совпадает со значением элемента ИдФайл "<usch:value-of select="@ИдФайл"/>"
              </usch:error>
            </sch:assert>
          </sch:rule>
        </sch:pattern>
      </xs:appinfo>
      <!---**************************************************************************************************************************************************************************-->
      <xs:documentation>Список застрахованных по ДМС лиц – документ, содержащий список физических лиц, в отношении которых страховая компания поручает и оплачивает оказание медицинской помощи со стороны медицинской организации в рамках объема, предусмотренного программой страхования в соответствии с договорами (полисами) добровольного медицинского страхования. Формируется со стороны страховой компании.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="СвУчДокОбор">
          <xs:annotation>
            <xs:documentation>Сведения об участниках электронного документооборота</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="СвОЭДОтпр" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Сведения об операторе электронного документооборота отправителя файла обмена</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:attribute name="НаимОрг" use="required">
                    <xs:annotation>
                      <xs:documentation>Наименование</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="1000"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="ИННЮЛ" type="ИННЮЛТип" use="required">
                    <xs:annotation>
                      <xs:documentation>ИНН</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="ИдЭДО" use="required">
                    <xs:annotation>
                      <xs:documentation>Идентификатор оператора электронного документооборота отправителя файла обмена</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:length value="3"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="ИдОтпр" use="required">
              <xs:annotation>
                <xs:documentation>Идентификатор участника документооборота – отправителя файла обмена</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:minLength value="4"/>
                  <xs:maxLength value="46"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="ИдПол" use="required">
              <xs:annotation>
                <xs:documentation>Идентификатор участника документооборота - получателя файла обмена</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:minLength value="4"/>
                  <xs:maxLength value="46"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
          </xs:complexType>
        </xs:element>
        <xs:element name="Документ">
          <xs:annotation>
            <xs:documentation>Список застрахованных по ДМС лиц</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Участники">
                <xs:annotation>
                  <xs:documentation>Сведения об организации-отправителе и организации-получателя, в отношении которой направлено гарантийное письмо</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="СведОтправОрг" type="УчастникТип" minOccurs="1" maxOccurs="1">
                      <xs:annotation>
                        <xs:documentation>Сведения об организации-отправителе</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="СведПолуч" type="УчастникТип" minOccurs="1" maxOccurs="1">
                      <xs:annotation>
                        <xs:documentation>Сведения о получателе гарантийного письма</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="ФилЮЛПолуч" type="ФилЮЛТип" minOccurs="0" maxOccurs="unbounded">
                      <xs:annotation>
                        <xs:documentation>Сведения о получателе гарантийного письма. Указывается для случаев оказания услуг в конкретном территориальном подразделении организации. Указывается при указании значения «1» в элементе ПрФормДок.</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="СведАдресат">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="ФИО" type="ФИОТип" minOccurs="0" maxOccurs="1">
                            <xs:annotation>
                              <xs:documentation>Фамилия, имя отчество (при наличии)</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="ДолжнАдресат" use="optional">
                          <xs:annotation>
                            <xs:documentation>Должность</xs:documentation>
                          </xs:annotation>
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:minLength value="1"/>
                              <xs:maxLength value="255"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="СведОДог" type="РеквДокТип" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Сведения об основном документе</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="СведФизЛиц" minOccurs="1" maxOccurs="unbounded">
                <xs:annotation>
                  <xs:documentation>Информация о застрахованном лице, его полисе, программе и условиях обслуживания в МО.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:complexContent>
                    <xs:extension base="СведФизЛицТип">
                      <xs:sequence>
                        <xs:element name="Риски" minOccurs="0" maxOccurs="unbounded">
                          <xs:annotation>
                            <xs:documentation>
                              Риски страховой компании.
                              Примеры значений:
                              Амбулаторно-поликлиническая помощь;
                              Стоматологическая помощь;
                              Скорая (неотложная) медицинская помощь;
                              Помощь на дому;
                              Экстренная стационарная помощь;
                              Плановая стационарная помощь;
                              Санаторно-курортное лечение;
                              Реабилитационно-восстановительное лечение
                              и т. д.
                            </xs:documentation>
                          </xs:annotation>
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:minLength value="1"/>
                              <xs:maxLength value="255"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:element>
                        <xs:element name="ДопИнф" minOccurs="0">
                          <xs:annotation>
                            <xs:documentation>Дополнительная информация о программе (ограничения, особые условия и т.п.)</xs:documentation>
                          </xs:annotation>
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element name="ТекстИнф" type="ТекстИнфТип" minOccurs="0" maxOccurs="unbounded">
                                <xs:annotation>
                                  <xs:documentation>Текстовая информация</xs:documentation>
                                </xs:annotation>
                              </xs:element>
                            </xs:sequence>
                            <xs:attribute name="ИдФайлИнфПол" use="optional">
                              <xs:annotation>
                                <xs:documentation>Идентификатор  файла информационного поля</xs:documentation>
                              </xs:annotation>
                              <xs:simpleType>
                                <xs:restriction base="xs:string">
                                  <xs:length value="36"/>
                                </xs:restriction>
                              </xs:simpleType>
                            </xs:attribute>
                          </xs:complexType>
                        </xs:element>
                      </xs:sequence>
                      <xs:attribute name="ПризнМодиф" use="required">
                        <xs:annotation>
                          <xs:documentation>Признак модификации данных. 1-Прикрепление, 2-Изменение, 3-Открепление</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                            <xs:length value="1"/>
                            <xs:enumeration value="1"/>
                            <xs:enumeration value="2"/>
                            <xs:enumeration value="3"/>
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:attribute>
                      <xs:attribute name="НачОбсл" type="ДатаТип" use="required">
                        <xs:annotation>
                          <xs:documentation>Дата начала обслуживания</xs:documentation>
                        </xs:annotation>
                      </xs:attribute>
                      <xs:attribute name="ДатаДМСОткрепл" type="ДатаТип" use="required">
                        <xs:annotation>
                          <xs:documentation>Дата досрочного открепления от МО, от программы ДМС</xs:documentation>
                        </xs:annotation>
                      </xs:attribute>
                      <xs:attribute name="ОкончОбсл" type="ДатаТип" use="required">
                        <xs:annotation>
                          <xs:documentation>Дата окончания обслуживания</xs:documentation>
                        </xs:annotation>
                      </xs:attribute>
                      <xs:attribute name="НаимПрогрДМС" use="optional">
                        <xs:annotation>
                          <xs:documentation>Название программы ДМС</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                            <xs:maxLength value="255"/>
                            <xs:minLength value="1"/>
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:attribute>
                      <xs:attribute name="КодПрогрДМС" use="optional">
                        <xs:annotation>
                          <xs:documentation>Код программы ДМС</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                            <xs:maxLength value="50"/>
                            <xs:minLength value="1"/>
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:attribute>
                      <xs:attribute name="ТипОпл" use="required">
                        <xs:annotation>
                          <xs:documentation>
                            Тип опалаты. Принимает одно из следующих значений:
                            1 – Факт;
                            2 – Аванс.
                          </xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                            <xs:length value="1"/>
                            <xs:enumeration value="1"/>
                            <xs:enumeration value="2"/>
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:attribute>
                      <xs:attribute name="ЛимитОтв" use="optional">
                        <xs:annotation>
                          <xs:documentation>
                            Лимит ответственности страховой организации по стоимости согласованного объема лечения на каждое застрахованное лицо
                          </xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                          <xs:restriction base="xs:decimal">
                            <xs:totalDigits value="19"/>
                            <xs:fractionDigits value="2"/>
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:attribute>
                      <xs:attribute name="Валюта" type="ОКВТип" use="required">
                        <xs:annotation>
                          <xs:documentation>
                            Код валюты по лимиту ответственности страховой организации по стоимости согласованного объема лечения на каждое застрахованное лицо
                          </xs:documentation>
                        </xs:annotation>
                      </xs:attribute>
                    </xs:extension>
                  </xs:complexContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="ИнфПол" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Информационное поле</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ТекстИнф" type="ТекстИнфТип" minOccurs="0" maxOccurs="unbounded">
                      <xs:annotation>
                        <xs:documentation>Текстовая информация</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="ИдФайлИнфПол" use="optional">
                    <xs:annotation>
                      <xs:documentation>Идентификатор  файла информационного поля</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:length value="36"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
              <xs:element name="Подписант" maxOccurs="unbounded">
                <xs:annotation>
                  <xs:documentation>Сведения о лице, подписывающем файл в электронной форме</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:choice>
                    <xs:element name="ФЛ" type="СвФЛТип">
                      <xs:annotation>
                        <xs:documentation>Физическое лицо</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="ИП" type="СвИПТип">
                      <xs:annotation>
                        <xs:documentation>Индивидуальный предприниматель</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="ЮЛ">
                      <xs:annotation>
                        <xs:documentation>Представитель юридического лица</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="ФИО" type="ФИОТип">
                            <xs:annotation>
                              <xs:documentation>Фамилия, имя, отчество</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="ГосРегИПВыдДов" use="optional">
                          <xs:annotation>
                            <xs:documentation>Реквизиты свидетельства о государственной регистрации индивидуального предпринимателя, выдавшего доверенность организации на подписание</xs:documentation>
                          </xs:annotation>
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:maxLength value="100"/>
                              <xs:minLength value="1"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="ИННЮЛ" type="ИННЮЛТип" use="required">
                          <xs:annotation>
                            <xs:documentation>ИНН юридического лица</xs:documentation>
                          </xs:annotation>
                        </xs:attribute>
                        <xs:attribute name="НаимОрг" use="optional">
                          <xs:annotation>
                            <xs:documentation>Наименование</xs:documentation>
                          </xs:annotation>
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:minLength value="1"/>
                              <xs:maxLength value="1000"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="Должн" use="required">
                          <xs:annotation>
                            <xs:documentation>Должность</xs:documentation>
                          </xs:annotation>
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:maxLength value="128"/>
                              <xs:minLength value="0"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="ИныеСвед" use="optional">
                          <xs:annotation>
                            <xs:documentation>Иные сведения, идентифицирующие физическое лицо</xs:documentation>
                          </xs:annotation>
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:minLength value="1"/>
                              <xs:maxLength value="255"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                      </xs:complexType>
                    </xs:element>
                  </xs:choice>
                  <xs:attribute name="ОблПолн" use="required">
                    <xs:annotation>
                      <xs:documentation>Область полномочий</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="2"/>
                        <xs:enumeration value="0"/>
                        <xs:enumeration value="1"/>
                        <xs:enumeration value="2"/>
                        <xs:enumeration value="3"/>
                        <xs:enumeration value="4"/>
                        <xs:enumeration value="5"/>
                        <xs:enumeration value="6"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="Статус" use="required">
                    <xs:annotation>
                      <xs:documentation>Статус</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="2"/>
                        <xs:enumeration value="1"/>
                        <xs:enumeration value="2"/>
                        <xs:enumeration value="3"/>
                        <xs:enumeration value="4"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="ОснПолн" use="required">
                    <xs:annotation>
                      <xs:documentation>Основание полномочий (доверия)</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="255"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="ОснПолнОрг" use="optional">
                    <xs:annotation>
                      <xs:documentation>Основание полномочий (доверия) организации</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="255"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
              <xs:element name="СведИсполОтправ">
                <xs:annotation>
                  <xs:documentation>Сведения об исполнителе от отправителя</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ФИО" type="ФИОТип" minOccurs="1" maxOccurs="1">
                      <xs:annotation>
                        <xs:documentation>Фамилия, имя, отчество (при наличии) исполнителя</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="Контакт" type="КонтактТип" minOccurs="0" maxOccurs="1">
                      <xs:annotation>
                        <xs:documentation>Контактные данные исполнителя</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="НаимЭконСубСост" use="required">
                    <xs:annotation>
                      <xs:documentation>Наименование экономического субъекта – составителя файла обмена</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="1000"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="ОснДоверОргСост" use="optional">
                    <xs:annotation>
                      <xs:documentation>Основание, по которому экономический субъект является составителем файла обмена</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="120"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="Должность" use="required">
                    <xs:annotation>
                      <xs:documentation>Должность исполнителя</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="255"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="ДатаИнфОтпр" type="ДатаТип" use="required">
              <xs:annotation>
                <xs:documentation>Дата формирования файла обмена</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="ВремИнфОтпр" type="ВремяТип" use="required">
              <xs:annotation>
                <xs:documentation>Время формирования файла обмена</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="НомерДок" use="required">
              <xs:annotation>
                <xs:documentation>Номер документа. Указывается номер или б/н</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:minLength value="1"/>
                  <xs:maxLength value="20"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="ДатаДок" type="ДатаТип" use="required">
              <xs:annotation>
                <xs:documentation>Дата документа</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="ДатаНач" type="ДатаТип" use="required">
              <xs:annotation>
                <xs:documentation>Дата начала действия гарантийных обязательств</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="ДатаОконч" type="ДатаТип" use="required">
              <xs:annotation>
                <xs:documentation>Дата окончания действия гарантийных обязательств</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="ПризДок" use="required">
              <xs:annotation>
                <xs:documentation>Признак документа. 1 - основное, 2 - дополнительное</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:length value="1"/>
                  <xs:enumeration value="1"/>
                  <xs:enumeration value="2"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="ИдФайл" use="required">
        <xs:annotation>
          <xs:documentation>Идентификатор файла</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="255"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="ВерсФорм" use="required">
        <xs:annotation>
          <xs:documentation>Версия формата</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="5"/>
            <xs:enumeration value="1.00"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="ВерсПрог" use="required">
        <xs:annotation>
          <xs:documentation>Версия программы, с помощью которой сформирован файл</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="40"/>
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="АдрРФТип">
    <xs:annotation>
      <xs:documentation>Адрес в Российской Федерации</xs:documentation>
    </xs:annotation>
    <xs:attribute name="Индекс" use="optional">
      <xs:annotation>
        <xs:documentation>Индекс</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:length value="6"/>
          <xs:pattern value="[0-9]{6}"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="КодРегион" use="required">
      <xs:annotation>
        <xs:documentation>Код региона</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="CCРФТип"/>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Район" use="optional">
      <xs:annotation>
        <xs:documentation>Район</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1"/>
          <xs:maxLength value="50"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Город" use="optional">
      <xs:annotation>
        <xs:documentation>Город</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:maxLength value="50"/>
          <xs:minLength value="1"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="НаселПункт" use="optional">
      <xs:annotation>
        <xs:documentation>Населенный пункт</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1"/>
          <xs:maxLength value="50"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Улица" use="optional">
      <xs:annotation>
        <xs:documentation>Улица</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1"/>
          <xs:maxLength value="50"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Дом" use="optional">
      <xs:annotation>
        <xs:documentation>Дом</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1"/>
          <xs:maxLength value="20"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Корпус" use="optional">
      <xs:annotation>
        <xs:documentation>Корпус</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1"/>
          <xs:maxLength value="20"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Кварт" use="optional">
      <xs:annotation>
        <xs:documentation>Квартира</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1"/>
          <xs:maxLength value="20"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="АдрИнфТип">
    <xs:annotation>
      <xs:documentation>Информация об адресе, в том числе об адресе за пределами территории Российской Федерации</xs:documentation>
    </xs:annotation>
    <xs:attribute name="КодСтр" type="ОКСМТип" use="required">
      <xs:annotation>
        <xs:documentation>Код страны</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="АдрТекст" use="required">
      <xs:annotation>
        <xs:documentation>Адрес</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1"/>
          <xs:maxLength value="1000"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="АдресТип">
    <xs:annotation>
      <xs:documentation>Сведения об адресе</xs:documentation>
    </xs:annotation>
    <xs:choice>
      <xs:element name="АдрРФ" type="АдрРФТип">
        <xs:annotation>
          <xs:documentation>Адрес, указанный в Едином государственном реестре юридических лиц/почтовый адрес/адрес места жительства индивидуального предпринимателя (реквизиты адреса на территории Российской Федерации)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="АдрИнф" type="АдрИнфТип">
        <xs:annotation>
          <xs:documentation>Адрес, указанный в Едином государственном реестре юридических лиц/почтовый адрес/адрес места жительства индивидуального предпринимателя (информация об адресе, в том числе об адресе за пределами территории Российской Федерации)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="КодГАР">
        <xs:annotation>
          <xs:documentation>Уникальный номер адреса объекта адресации в государственном адресном реестре</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="36"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="КонтактТип">
    <xs:annotation>
      <xs:documentation>Контактные данные</xs:documentation>
    </xs:annotation>
    <xs:attribute name="Тлф" use="optional">
      <xs:annotation>
        <xs:documentation>Номер контактного телефона/факс</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1"/>
          <xs:maxLength value="255"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="ЭлПочта" use="optional">
      <xs:annotation>
        <xs:documentation>Адрес электронной почты</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1"/>
          <xs:maxLength value="255"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="ФИОТип">
    <xs:annotation>
      <xs:documentation>Фамилия, имя, отчество физического лица</xs:documentation>
    </xs:annotation>
    <xs:attribute name="Фамилия" use="required">
      <xs:annotation>
        <xs:documentation>Фамилия</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1"/>
          <xs:maxLength value="60"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Имя" use="required">
      <xs:annotation>
        <xs:documentation>Имя</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1"/>
          <xs:maxLength value="60"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Отчество" use="optional">
      <xs:annotation>
        <xs:documentation>Отчество</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1"/>
          <xs:maxLength value="60"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="СвИПТип">
    <xs:annotation>
      <xs:documentation>Сведения об индивидуальном предпринимателе</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ФИО" type="ФИОТип">
        <xs:annotation>
          <xs:documentation>Фамилия, имя, отчество</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="ИННФЛ" type="ИННФЛТип" use="optional">
      <xs:annotation>
        <xs:documentation>ИНН</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="ДефИННФЛ" use="optional">
      <xs:annotation>
        <xs:documentation>ИНН при составлении документа с Функция=СЧФ или Функция=СЧФДОП налоговым агентом, указанным в пунктах 2 и 3 статьи 161 НК РФ, в части информации о продавце/грузоотправителе</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:length value="1"/>
          <xs:enumeration value="-"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="СвГосРегИП" use="optional">
      <xs:annotation>
        <xs:documentation>Реквизиты свидетельства о государственной регистрации индивидуального предпринимателя</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:maxLength value="100"/>
          <xs:minLength value="1"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="ИныеСвед" use="optional">
      <xs:annotation>
        <xs:documentation>Иные сведения, идентифицирующие физическое лицо</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1"/>
          <xs:maxLength value="255"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="СвФЛТип">
    <xs:annotation>
      <xs:documentation>Сведения о физическом лице</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ФИО" type="ФИОТип">
        <xs:annotation>
          <xs:documentation>Фамилия, имя, отчество</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="ГосРегИПВыдДов" use="optional">
      <xs:annotation>
        <xs:documentation>Реквизиты свидетельства о государственной регистрации индивидуального предпринимателя, выдавшего доверенность физическому лицу на подписание</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:maxLength value="100"/>
          <xs:minLength value="1"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="ИННФЛ" type="ИННФЛТип" use="optional">
      <xs:annotation>
        <xs:documentation>ИНН физического лица</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="ИныеСвед" use="optional">
      <xs:annotation>
        <xs:documentation>Иные сведения, идентифицирующие физическое лицо</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1"/>
          <xs:maxLength value="255"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="УчастникТип">
    <xs:annotation>
      <xs:documentation>Сведения об участнике факта хозяйственной жизни</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ИдСв">
        <xs:annotation>
          <xs:documentation>Идентификационные сведения</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:choice>
            <xs:element name="СвИП" type="СвИПТип">
              <xs:annotation>
                <xs:documentation>Сведения об индивидуальном предпринимателе</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="СвЮЛУч">
              <xs:annotation>
                <xs:documentation>Сведения о юридическом лице, состоящем на учете в налоговых органах</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:attribute name="НаимОрг" use="required">
                  <xs:annotation>
                    <xs:documentation>Наименование полное</xs:documentation>
                  </xs:annotation>
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:minLength value="1"/>
                      <xs:maxLength value="1000"/>
                    </xs:restriction>
                  </xs:simpleType>
                </xs:attribute>
                <xs:attribute name="ИННЮЛ" type="ИННЮЛТип" use="optional">
                  <xs:annotation>
                    <xs:documentation>ИНН</xs:documentation>
                  </xs:annotation>
                </xs:attribute>
                <xs:attribute name="ДефИННЮЛ" use="optional">
                  <xs:annotation>
                    <xs:documentation>ИНН при составлении документа с Функция=СЧФ или Функция=СЧФДОП налоговым агентом, указанным в пунктах 2 и 3 статьи 161 НК РФ, в части информации о продавце/грузоотправителе/грузополучателе или для документа с Функция=СЧФ, выставляемом при получении оплаты, частичной оплаты в счет предстоящих поставок товаров (выполнения работ, оказания услуг), передачи имущественных прав, в части информации о грузоотправителе/грузополучателе</xs:documentation>
                  </xs:annotation>
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:length value="1"/>
                      <xs:enumeration value="-"/>
                    </xs:restriction>
                  </xs:simpleType>
                </xs:attribute>
                <xs:attribute name="КПП" type="КППТип" use="optional">
                  <xs:annotation>
                    <xs:documentation>КПП</xs:documentation>
                  </xs:annotation>
                </xs:attribute>
              </xs:complexType>
            </xs:element>
            <xs:element name="СвИнНеУч">
              <xs:annotation>
                <xs:documentation>Сведения об иностранном лице, не состоящем на учете в налоговых органах в качестве налогоплательщика</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:attribute name="НаимОрг" use="required">
                  <xs:annotation>
                    <xs:documentation>Наименование полное</xs:documentation>
                  </xs:annotation>
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:minLength value="1"/>
                      <xs:maxLength value="1000"/>
                    </xs:restriction>
                  </xs:simpleType>
                </xs:attribute>
                <xs:attribute name="Идентиф" use="optional">
                  <xs:annotation>
                    <xs:documentation>Идентификатор юридического лица</xs:documentation>
                  </xs:annotation>
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:minLength value="1"/>
                      <xs:maxLength value="255"/>
                    </xs:restriction>
                  </xs:simpleType>
                </xs:attribute>
                <xs:attribute name="ИныеСвед" use="optional">
                  <xs:annotation>
                    <xs:documentation>Иные сведения, идентифицирующие юридическое лицо</xs:documentation>
                  </xs:annotation>
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:minLength value="1"/>
                      <xs:maxLength value="255"/>
                    </xs:restriction>
                  </xs:simpleType>
                </xs:attribute>
              </xs:complexType>
            </xs:element>
            <xs:element name="СвФЛУчастФХЖ" type="СвФЛТип">
              <xs:annotation>
                <xs:documentation>Сведения о физическом лице</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="Адрес" type="АдресТип" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Адрес</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Контакт" type="КонтактТип" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Контактные данные</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="БанкРекв" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Банковские реквизиты</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="СвБанк" minOccurs="0">
              <xs:annotation>
                <xs:documentation>Сведения о банке</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:attribute name="НаимБанк" use="optional">
                  <xs:annotation>
                    <xs:documentation>Наименование банка</xs:documentation>
                  </xs:annotation>
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:minLength value="1"/>
                      <xs:maxLength value="1000"/>
                    </xs:restriction>
                  </xs:simpleType>
                </xs:attribute>
                <xs:attribute name="БИК" type="БИКТип" use="optional">
                  <xs:annotation>
                    <xs:documentation>Банковский идентификационный код (БИК) в соответствии со «Справочником БИК РФ»</xs:documentation>
                  </xs:annotation>
                </xs:attribute>
                <xs:attribute name="КорСчет" use="optional">
                  <xs:annotation>
                    <xs:documentation>Корреспондентский счет банка</xs:documentation>
                  </xs:annotation>
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:minLength value="1"/>
                      <xs:maxLength value="20"/>
                    </xs:restriction>
                  </xs:simpleType>
                </xs:attribute>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="НомерСчета" use="optional">
            <xs:annotation>
              <xs:documentation>Номер банковского счета</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:minLength value="1"/>
                <xs:maxLength value="20"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="ОКПО" use="optional">
      <xs:annotation>
        <xs:documentation>Код в общероссийском классификаторе предприятий и организаций</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1"/>
          <xs:maxLength value="10"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="СтруктПодр" use="optional">
      <xs:annotation>
        <xs:documentation>Структурное подразделение</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1"/>
          <xs:maxLength value="1000"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="ИнфДляУчаст" use="optional">
      <xs:annotation>
        <xs:documentation>Информация для участника документооборота</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1"/>
          <xs:maxLength value="255"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="КраткНазв" use="optional">
      <xs:annotation>
        <xs:documentation>Краткое название</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1"/>
          <xs:maxLength value="255"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="ТекстИнфТип">
    <xs:annotation>
      <xs:documentation>Текстовая информация</xs:documentation>
    </xs:annotation>
    <xs:attribute name="Идентиф" use="required">
      <xs:annotation>
        <xs:documentation>Идентификатор</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1"/>
          <xs:maxLength value="50"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Значен" use="required">
      <xs:annotation>
        <xs:documentation>Значение</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1"/>
          <xs:maxLength value="2000"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="ИдРекСостТип">
    <xs:annotation>
      <xs:documentation>Идентифицирующие реквизиты сторон, составивших документ</xs:documentation>
    </xs:annotation>
    <xs:choice>
      <xs:element name="ИННЮЛ" type="ИННЮЛТип">
        <xs:annotation>
          <xs:documentation>ИНН юридического лица</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="НаимОИВ">
        <xs:annotation>
          <xs:documentation>Краткое наименование органа исполнительной власти (специализированной уполномоченной организации), выдавшего документ</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="255"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="РеквДокТип">
    <xs:annotation>
      <xs:documentation>Реквизиты документа</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ИдРекСост" type="ИдРекСостТип" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Идентифицирующие реквизиты сторон, составивших документ</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="НаимДок" use="optional">
      <xs:annotation>
        <xs:documentation>Наименование документа</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1"/>
          <xs:maxLength value="255"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="НомерДок" use="optional">
      <xs:annotation>
        <xs:documentation>Номер документа</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1"/>
          <xs:maxLength value="255"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="ДатаДок" type="ДатаТип" use="optional">
      <xs:annotation>
        <xs:documentation>Дата документа</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="ИдДок" use="optional">
      <xs:annotation>
        <xs:documentation>Идентификатор файла документа (в том числе регистрационный номер, если документ / сведения о таком документе содержатся в государственных информационных системах)</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1"/>
          <xs:maxLength value="255"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="ДопСведДок" use="optional">
      <xs:annotation>
        <xs:documentation>Дополнительные сведения</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1"/>
          <xs:maxLength value="2000"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="УдЛичнФЛТип">
    <xs:annotation>
      <xs:documentation>Сведения о документе, удостоверяющем личность физического лица</xs:documentation>
    </xs:annotation>
    <xs:attribute name="КодВидДок" use="required">
      <xs:annotation>
        <xs:documentation>Код вида документа</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="СПДУЛТип">
          <xs:enumeration value="07"/>
          <xs:enumeration value="10"/>
          <xs:enumeration value="11"/>
          <xs:enumeration value="12"/>
          <xs:enumeration value="13"/>
          <xs:enumeration value="15"/>
          <xs:enumeration value="19"/>
          <xs:enumeration value="21"/>
          <xs:enumeration value="24"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="СерНомДок" type="СПДУЛШТип" use="required">
      <xs:annotation>
        <xs:documentation>Серия и номер документа</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="ДатаДок" type="ДатаТип" use="required">
      <xs:annotation>
        <xs:documentation>Дата выдачи документа</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="ВыдДок" use="optional">
      <xs:annotation>
        <xs:documentation>Наименование органа, выдавшего документ</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1"/>
          <xs:maxLength value="255"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="КодВыдДок" use="optional">
      <xs:annotation>
        <xs:documentation>Код подразделения органа, выдавшего  документ</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:length value="7"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="ФилЮЛТип">
    <xs:annotation>
      <xs:documentation>Организация или обособленное подразделение организации</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Адрес" type="АдресТип" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Адрес подразделения юридического лица</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="КПП" type="КППТип" use="optional">
      <xs:annotation>
        <xs:documentation>КПП подразделения юридического лица</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Наименование" use="required">
      <xs:annotation>
        <xs:documentation>Полное наименование подразделения юридического лица</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1"/>
          <xs:maxLength value="1000"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="СведФизЛицТип">
    <xs:annotation>
      <xs:documentation>Сведения о физическом лице (группе физических лиц), на которых распространяются обязательства</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ФИО" type="ФИОТип" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Фамилия, имя, отчество</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Адрес" type="АдресТип" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Адрес фактического проживания</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Контакт" type="КонтактТип" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Контактные данные</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="СведДУЛ" type="УдЛичнФЛТип" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Сведения о документе, удостоверяющего личность</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="СведОРаботадат" type="ФилЮЛТип" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Сведения о работодателе</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ДатаРожд" type="ДатаТип" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата рождения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="СНИЛС" type="СНИЛСТип" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Уникальный номер индивидуального лицевого счета лица (СНИЛС)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Пол" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Пол физического лица. 1 - мужской, 2 - женский</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:length value="1"/>
            <xs:enumeration value="1"/>
            <xs:enumeration value="2"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="АдресСтрокой" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Адрес фактического проживания строкой</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="500"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="СведДУЛСтрокой" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения о документе, удостоверяющего личность строкой</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="255"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="НомОМС" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер полиса ОМС. Обязателен при указании значения «1» в элементе ПрФормДок</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:length value="16"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="СерНомДМС" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Серия, номер полиса ДМС. Обязателен при указании значения «1» в элементе ПрФормДок</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="255"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="НачДМС" type="ДатаТип" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата начала действия полиса ДМС </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ОкончДМС" type="ДатаТип" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата окончания действия полиса ДМС</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ОтнКРаб" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Отношение к работодателю</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:length value="16"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Должн" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Должность</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="255"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Категория" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Категория застрахованного лица</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="255"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="СведПредставит" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            Сведения о представителе физического лица. Заполняется при наличии сопровождающего лица. Обязателен при указании значения «1» в элементе ПрФормДок
          </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="255"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="ДатаТип">
    <xs:annotation>
      <xs:documentation>Дата в формате ДД.ММ.ГГГГ (01.01.1900 - 31.12.2099)</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:length value="10"/>
      <xs:pattern value="((((0[1-9]{1}|1[0-9]{1}|2[0-8]{1})\.(0[1-9]{1}|1[0-2]{1}))|((29|30)\.(01|0[3-9]{1}|1[0-2]{1}))|(31\.(01|03|05|07|08|10|12)))\.((19|20)[0-9]{2}))|(29\.02\.((19|20)(((0|2|4|6|8)(0|4|8))|((1|3|5|7|9)(2|6)))))"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ВремяТип">
    <xs:annotation>
      <xs:documentation>Время в формате ЧЧ.ММ.СС</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:length value="8"/>
      <xs:pattern value="([0-1]{1}[0-9]{1}|2[0-3]{1})\.([0-5]{1}[0-9]{1})\.([0-5]{1}[0-9]{1})"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ИННФЛТип">
    <xs:annotation>
      <xs:documentation>Идентификационный номер налогоплательщика - физического лица</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:length value="12"/>
      <xs:pattern value="([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})[0-9]{10}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ИННЮЛТип">
    <xs:annotation>
      <xs:documentation>Идентификационный номер налогоплательщика - организации</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:length value="10"/>
      <xs:pattern value="([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})[0-9]{8}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="КППТип">
    <xs:annotation>
      <xs:documentation>Код причины постановки на учет (КПП) - 5 и 6 знаки от 0-9 и A-Z</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:length value="9"/>
      <xs:pattern value="([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})([0-9]{2})([0-9A-Z]{2})([0-9]{3})"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="СНИЛСТип">
    <xs:annotation>
      <xs:documentation>СНИЛС гражданина. Ограничивается длиной в 11 символов.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:length value="11"/>
      <xs:pattern value="(0|[1-9][0-9]*)"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="CCРФТип">
    <xs:annotation>
      <xs:documentation>Код из Справочника субъекта Российской Федерации </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:length value="2"/>
      <xs:pattern value="[0-9]{2}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ОКСМТип">
    <xs:annotation>
      <xs:documentation>Код из Общероссийского классификатора стран мира</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:length value="3"/>
      <xs:pattern value="[0-9]{3}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ОКВТип">
    <xs:annotation>
      <xs:documentation>Код из Общероссийского классификатора валют</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:length value="3"/>
      <xs:pattern value="[0-9]{3}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="БИКТип">
    <xs:annotation>
      <xs:documentation>БИК банка</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:length value="9"/>
      <xs:pattern value="[0-9]{9}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="СПДУЛТип">
    <xs:annotation>
      <xs:documentation>Коды Справочника видов документов, удостоверяющих личность налогоплательщика</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:length value="2"/>
      <xs:pattern value="[0-9]{2}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="СПДУЛШТип">
    <xs:annotation>
      <xs:documentation>Шаблон серии, номера из Справочника видов документов, удостоверяющих личность</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="25"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>